.bread {
    margin-top: 40px;
    gap: 16px;
    position: relative;
    width: max-content;
}

.line {
    display: flex;
    justify-content: center;
    top: 20px;
    border-top: 1px solid #DDD ;
    width: max-content;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -5;
}