.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 32px 0 0 0;
    height: 486px;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
}

.forms {
    width: 518px;
}

.registr_form {
    display: flex;
    gap: 32px;
    position: relative;
}

@media(max-width: 1000px) {
   .image {
    height: 308px;
    position: absolute; /* Установите абсолютную позицию для картинки */
    left: -160px; /* Смещаем картинку влево за пределы родительского контейнера */
    bottom: -62px; /* Выравниваем картинку по верхней границе родительского контейнера */
    height: 308px;
    object-fit: cover;
    object-position: right;
    overflow: hidden; 
   }
   .forms {
    width: 418px;
    margin-left: 500px;
   } 
}
   
  
  
   
