.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.linie {
    margin-left: 32px;
    border-top: 1px solid #DDD ; 
    width: 100%;
}

.cont_category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.nav_ {
    display: none;
    width: 140px;
    height: 40px;
}

@media(max-width: 1000px) {
    .cont_category {
        gap: 20px;
    }
    .cont_category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 480px) {
    .cont_category {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .linie {
        display: none;
    }
    .nav_ {
        display: flex;
        margin-top: 32px;
    }
    ._nav {
        display: none;
    }
}

@media(max-width: 360px) {
    .cont_category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}