.header_btn {
    background-color: green;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    width: 218px;
    height: 58px;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer;
  }