/* .add_cart_btn:hover {
    background-color: #282828;
}

.btn_active {
    margin: 15px;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #ffffff;
    color: black;
    border: none;
    outline: 1px solid black;
}

.add_cart_btn {
    font-weight: 600;
    font-size: 20px;
    margin: 15px;
    padding: 17.5px 30px;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 25%;
    width: 90%;
    letter-spacing: 1px;
} */