.sort {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.sortel {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sort_input {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sort_input input {
    width: 112px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 8px 16px;
}

.sort_input input::placeholder,
textarea::placeholder {
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%;
}

.sort select {
    width: 100px;
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.check {
    display: inline-block;
    width: 36px;
    height: 36px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.sort p {
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.sort select {
    width: 200px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #DDD;
}